<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DS_CivilSurveySuite.ACAD2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3DS_CivilSurveySuite.ACAD2017.Properties.Settings>
            <setting name="Graphics_Size" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Graphics_Text_Size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Transient_ColorIndex" serializeAs="String">
                <value>2</value>
            </setting>
        </_3DS_CivilSurveySuite.ACAD2017.Properties.Settings>
    </userSettings>
</configuration>