<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DS_CivilSurveySuite.C3D2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3DS_CivilSurveySuite.C3D2017.Properties.Settings>
            <setting name="Tree_Replace_Base_Symbol" serializeAs="String">
                <value>Tree</value>
            </setting>
            <setting name="Tree_Replace_Trunk_Symbol" serializeAs="String">
                <value>Trunk</value>
            </setting>
        </_3DS_CivilSurveySuite.C3D2017.Properties.Settings>
    </userSettings>
</configuration>